.first-row {
  padding-top: 50px;
}
.first-row input {
  margin-bottom: 10px;
}

.second-row {
  margin-bottom: 50px;
}

button {
  border: 0;
  background: #C97C5D;
  color: #EEE2DF;
  padding: 12px 20px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 10px;
}
button:hover {
  cursor: pointer;
  background: #EEE2DF;
  color: #C97C5D;
}
input, select {
  padding: 10px 20px;
  font-size: 18px;
  margin-right: 12px;
  border: 1px solid #C97C5D;
}

#sort_by {
  margin-left: 10px;
}

@media only screen and (min-width: 379px) {
  button {
    margin-top: 0px;
  }
}
