@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

html, body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-weight: 800;
  margin: 20px 0;
  border: solid 3px #EED7C5;
  padding: 0px 20px;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #C89F9C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #EEE2DF;
}

.App-link {
  color: #61dafb;
}

button:disabled {
  background-color: #D3D3D3;
  color: #fff;
}
button:hover:disabled {
  background-color: #D3D3D3;
  color: #fff;
  cursor: not-allowed;
}
